@model identity.Models.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

 
<form asp-controller="Account" asp-action="Login" method="post">
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="text-danger">@ViewData["ErrorMessage"]</div>
    }
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="UserName"> </label>
        <input  class="form-control" asp-for="UserName" placeholder="Enter email">
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="password"></label>
        <input class="form-control" asp-for="password" placeholder="Password">
        <span asp-validation-for="password"></span>
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="Remberme">
        <label class="form-check-label" asp-for="Remberme"> </label>
        <span asp-validation-for="Remberme"></span>
    </div>
    <input type="submit" class="btn btn-primary">

</form>


    
<a class="btn btn-danger"   asp-action="ForgetPsdd" asp-controller="Account" >jjjjj</a>

<div class="row mb-3">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <h5 class="font-medium m-b-20" style="font-size: 16px">یا ورود با استفاده از اکانت :</h5>
        @{
            if (!Model.externalation.Any())
            {
                <div>در حال حاضر امکان ورود با اکانت های دیگر وجود ندارد</div>
            }
            else
            {
                <form method="post" asp-controller="Account" asp-action="ExternalLogin">
                    <div class="social">
                        @foreach (var provider in Model.externalation)
                        {

                            <button type="submit" value="@provider.Name"
                                    class="btn btn-primary" name="provider"
                                    title="ورود با استفاده از اکانت @provider.DisplayName ">
                                @provider.DisplayName
                            </button>

                        }
                    </div>
                </form>
            }

        }
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
