@model identity.Models.ViewModels.ManageUser.AddOrRemoveClaimViewModel

@{
    ViewData["Title"] = "AddUserToClaim";
}
@if (!Model.UserClaims.Any())
{
    <h1>یافت نشد "Claim" هیج</h1>
}
else
{
    <form asp-controller="ManageUser" asp-action="AddUserToClaim" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        @for (int i = 0; i < Model.UserClaims.Count; i++)
        {
            <div class="form-group">
                <input asp-for="@Model.UserClaims[i].IsSelected" />
                <label>@Model.UserClaims[i].ClaimType</label>

                <input type="hidden" asp-for="@Model.UserClaims[i].ClaimType" />
            </div>
        }
        <input type="hidden" asp-for="@Model.UserId" />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}